@import '@material/typography/mdc-typography';

body.mdc-typography {
    .mono-font { font-family: 'Roboto Mono', sans-serif; }
}

body.netmon {
    margin: 0;
    padding: 10px;

    .datetime-field {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        margin: 8px;

        .date.label {
            min-width: 40px;
            padding-right: 8px;
            text-align: start;
        }
        .time.label {
            padding-left: 8px;
            padding-right: 8px;
            text-align: center;
        }
    }

    .table {
        .cell {
            padding: 0 10px;
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }

            text-align: start;
            &.numeric { text-align: end; }
        }
        .head.row .cell { padding-bottom: 5px; }
        .foot.row .cell { padding-top: 5px; }
    }
}
