@import '@material/typography/mdc-typography';

body.mdc-typography {
    @include mdc-typography(body1);
    table { @include mdc-typography(body2); }
    h1 { @include mdc-typography(headline3); }
    h2 { @include mdc-typography(headline4); }
    h3 { @include mdc-typography(headline5); }
    h4 { @include mdc-typography(headline6); }
    h3 { border-bottom: 2px solid gray; }
}

body.netmon {
    margin: 0;
    padding: 20px;

    .datetime-field {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        margin: 8px;

        .date.label {
            min-width: 40px;
            padding-right: 8px;
            text-align: start;
        }
        .time.label {
            padding-left: 8px;
            padding-right: 8px;
            text-align: center;
        }
    }

    .device-groups {
        display: flex;
        flex-flow: row wrap;

        margin: 0 -15px;
        .group {
            flex: 0 0 auto;
            max-width: calc(100% - 2 * 15px);
            margin: 0 15px;
        }
    }

    .table {
        width: 100%;
        .cell {
            padding: 0 10px;
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }

            text-align: start;
            &.numeric { text-align: end; }
        }
        .head.row .cell { padding-bottom: 5px; }
        .foot.row .cell { padding-top: 5px; }
        .data.row .cell { white-space: nowrap; }
    }
    .table-wrapper { overflow-x: auto; }
}
